<?php
defined('BASEPATH') OR exit('No direct script access allowed');

$config['base_url'] = (isset($_SERVER['HTTPS']) ? "https://" : "http://") . $_SERVER['HTTP_HOST'] . str_replace(basename($_SERVER['SCRIPT_NAME']), '', $_SERVER['SCRIPT_NAME']);
$config['index_page'] = '';
$config['uri_protocol'] = 'AUTO';
$config['url_suffix'] = '';
$config['language'] = 'english';
$config['charset'] = 'UTF-8';
$config['enable_hooks'] = FALSE;
$config['subclass_prefix'] = 'MY_';
$config['composer_autoload'] = FALSE;
$config['permitted_uri_chars'] = 'a-z 0-9~%.:_\-';
$config['enable_query_strings'] = FALSE;
$config['controller_trigger'] = 'c';
$config['function_trigger'] = 'm';
$config['directory_trigger'] = 'd';
$config['allow_get_array'] = TRUE;
$config['log_threshold'] = 0;
$config['log_path'] = '';
$config['log_file_extension'] = '';
$config['log_file_permissions'] = 0644;
$config['log_date_format'] = 'Y-m-d H:i:s';
$config['error_views_path'] = '';
$config['cache_path'] = '';
$config['cache_query_string'] = FALSE;
$config['encryption_key'] = 'your-32-character-encryption-key-here';
$config['jwt_key'] = 'your-jwt-secret-key-here';
$config['jwt_token_expire_time'] = 2592000;
$config['jwt_issuer'] = 'https://your-domain.com/';
$config['jwt_allowed_issuers'] = ['https://your-domain.com/'];

$config['sess_driver'] = 'database';
$config['sess_cookie_name'] = 'emp_session';
$config['sess_expiration'] = 2592000;
$config['sess_expire_on_close'] = FALSE;
$config['sess_save_path'] = 'ci_sessions';
$config['sess_match_ip'] = FALSE;
$config['sess_time_to_update'] = 300;
$config['sess_regenerate_destroy'] = FALSE;

$config['cookie_lifetime'] = 2592000;
$config['cookie_secure'] = isset($_SERVER['HTTPS']);
$config['cookie_httponly'] = TRUE;
$config['cookie_samesite'] = 'Lax';

$config['cookie_prefix'] = '';
$config['cookie_domain'] = '';
$config['cookie_path'] = '/';
$config['cookie_secure'] = FALSE;
$config['cookie_httponly'] = FALSE;

$config['standardize_newlines'] = FALSE;
$config['global_xss_filtering'] = TRUE;

$config['csrf_protection'] = TRUE;
$config['csrf_token_name'] = 'emp_csrf_name';
$config['csrf_cookie_name'] = 'emp_cookie_name';
$config['csrf_expire'] = 7200;
$config['csrf_regenerate'] = FALSE;
$config['csrf_exclude_uris'] = array(
    'api/save_attendance',
    'api/save_telegram_chat_id',
    'api/telegram_feedback',
    'api/log_email',
    'api/add_cashbook_entry',
    'emp_api/login',
    'emp_api/token_validation',
    'emp_api/auth_reset',
    'emp_api/check_account',
    'emp_api/leaves_post',
    'emp_api/leaves_get',
    'emp_api/leave_delete',
    'emp_api/leave_balance',
    'emp_api/attendance_checkin',
    'emp_api/attendance_checkout',
    'emp_api/advance_salary_request',
    'emp_api/advance_salary_delete',
    'emp_api/fund_requisition_request',
    'emp_api/fund_requisition_delete',
    'emp_api/separation_request',
    'emp_api/delete_separation_request',
    'emp_api/profile_update',
    'emp_api/get_policy_description',
    'emp_api/get_calendar_event_details',
    'emp_api/submit_todo_response',
    'emp_api/get_penalty_report',
    'emp_api/post_break_action',
    'emp_api/add_label',
    'emp_api/create_department',
    'emp_api/join_departments',
    'emp_api/add_components',
    'emp_api/add_milestone',
    'emp_api/add_issue',
    'emp_api/update_task_issue',
    'emp_api/add_comment_api',
    'emp_api/submit_work_summary',
    'emp_api/update_fcm_token',
    'emp_api/submit_kpi',
    'emp_api/update_kpi',
    'emp_api/submit_kpi_rating',
    'emp_api/submit_kpi_feedback',
    'emp_api/submit_rdc_task',
    'emp_api/run_rdc',
    'emp_api/create_recurring_rdc_tasks',
);

$config['compress_output'] = FALSE;
$config['time_reference'] = 'local';
$config['rewrite_short_tags'] = FALSE;
$config['proxy_ips'] = '';

// IMPORTANT: Set this to TRUE after database setup
$config['installed'] = FALSE;
$config['product_name'] = 'emp_v1.0';